{{#if user.isAdmin}}
{{>navAdmin}}
{{else}}
{{>navConnected}}
{{/if}}

<style>

    .titreDuCours{
        margin-top: 100px;
        text-align: center;
        background-color: #7451eb;
        color: white;
    }

    .contenu{
    
    }
</style>

{{#if db}}
<header class="container-fluid header">
    <h1 class="titreDuCours">{{db.titre}}</h1>
    <p class="description">{{db.description}}</p>
</header>

<div class="container contenu">
    {{{db.contenu}}}
</div>


{{else}}
<h1> PB DB</h1>
{{/if}}