{{!-- {{#if user.isAdmin}}
{{>navAdmin}}
{{else}}
{{>navConnected}}
{{/if}} --}}

<style>
    .titreDucours{
        margin-top: 100px;
        text-align: center;
        border: 1px solid purple;
    }

    .description{
        text-align: center;
        border: 1px solid purple;
    }

    .contenu{
        text-align: center;
        border: 1px solid purple;
    }
</style>

{{#if db}}
<div class="container titreDucours">
    <h1>{{db.titre}}</h1>    
</div>

<div class="container description">
    <p>{{db.description}}</p>
</div>

<div class="container contenu">
    <h1>{{db.contenu}}</h1>
</div>
{{else}}
<h1> PB DB</h1>
{{/if}}