<!--Main Navigation-->
<header>
  <!-- Sidebar -->

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">OnlineCourses</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <a href="/" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
              <i class="fas fa-home fa-fw me-3"></i><span>Accueil</span>
            </a>
            <a href="/admin" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
              <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
            </a>
            <a href="/user" class="list-group-item list-group-item-action py-2 ripple active">
              <i class="fas fa-user fa-fw me-3"></i><span>Utilisateurs</span>
            </a>
            <a href="/cours" class="list-group-item list-group-item-action py-2 ripple">
              <i class="fa-solid fa-school fa-fw me-3"></i><span>Cours</span>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- Sidebar -->

  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" id="offcanvasExample" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><i
          class="fas fa-bars"></i></button>

      <a class="navbar-brand" id="offcanvasExample" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">Menu</a>
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" href="https://github.com/Nirkrolm72" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link me-3 me-lg-0 dropdown-toggle arrow" href="#" id="navbarDropdown" role="button"
            data-mdb-toggle="dropdown" aria-expanded="false">
            <i class="flag flag-france m-0"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#" style="color: black !important;"><i
                  class="flag flag-france"></i>Français
                <i class="fa fa-check text-success ms-2"></i></a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <a class="dropdown-item" href="#" style="color: black !important;"><i class="flag flag-uk"></i>English</a>
        </li>
      </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle arrow d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
          role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <img src="{{user.avatar}}" class="rounded-circle" height="22" alt="" loading="lazy" />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/profil" style="color: black !important;">Mon profil</a></li>
          <li><a class="dropdown-item" href="#" style="color: black !important">Paramètres</a></li>
          <li><a class="dropdown-item" href="/deconnexion" style="color: black !important;">Déconnexion</a></li>
        </ul>
      </li>
      </ul>
    </div>
  </nav>
</header>

<!--Main layout-->
<main style="margin-top: 58px">
  <div class="container-fluid pt-4 main_admin">
    <div class="main_text_admin mt-4">
      <h1>Utilisateur</h1>
    </div>
    {{!-- Condition qui vérifie si il y a des datas dans la base de données --}}
    {{#if db}}
    {{#each db}}
    <table class=" container table align-middle mb-0 mt-5 bg-white tableau_cours">

      <thead class="bg-light">
        <tr>
          <th>ID</th>
          <th>Prénom</th>
          <th>E-Mail</th>
          <th>Rôle</th>
          <th>Action</th>
        </tr>

      </thead>

      <tbody>

        <tr>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-bold mb-1">{{this.id}}</p>
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-bold mb-1">{{this.prenom}}</p>
              </div>
            </div>
          </td>
          <td>
            <p class="text-muted mb-0">{{this.email}}</p>
          </td>

          <td>
            {{!-- <p class="text-muted mb-0">{{this.is_admin}}</p> --}}
            <label for="">Admin</label>
            <input type="checkbox" id="isAdmin{{ user.id }}" name="isAdmin" />
            <label for="">Visiteur</label>
            <input type="checkbox" id="isVisiteur{{ user.id }}" name="isVisiteur" />
            <label for="">Verified</label>
            <input type="checkbox" id="isVerified{{ user.id }}" name="isVerified" />
          </td>
          <td>
            {{!-- Bouton Modifier --}}
            <button type="button" class="btn btn-secondary btn-sm me-3" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Modifier</button>
            <!-- Modal -->
            <form action="/user/{{this.id}}?_method=PUT" method="post">
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modifier</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                      <div class="mb-3">
                        <input type="text" name="prenom" class="form-control" placeholder="Prénom">
                      </div>
                      <div class="mb-3">
                        <input type="text" name="email" class="form-control" placeholder="E-Mail">
                      </div>
                      <div class="mb-3">
                        <input type="text" name="status" class="form-control" placeholder="Status">
                      </div>
                      <div class="mb-3">
                        <label for="">Admin</label>
                        <input type="checkbox" id="isAdmin{{ user.id }}" name="isAdmin" />
                        <label for="">Visiteur</label>
                        <input type="checkbox" id="isVisiteur{{ user.id }}" name="isVisiteur" />
                        <label for="">Verified</label>
                        <input type="checkbox" id="isVerified{{ user.id }}" name="isVerified" />
                      </div>
            </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
    <button type="submit" class="btn btn-secondary">Modifier</button>
  </div>
  </div>
  </div>
  </div>
  {{!-- Fin Bouton modifier --}}

  {{!-- Bouton supprimer --}}
  <form action="/user/{{this.id}}?_method=DELETE" method="post">
    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
      data-bs-target="#exampleModal2">Supprimer</button>
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Supprimer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Souhaitez-vous vraiment supprimer ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>

            <button type="submit" class="btn btn-danger">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  {{!-- Fin bouton supprimer --}}
  </tr>
  </tbody>

  </table>

  </div>
  {{/each}}
  {{!-- Sinon on affiche un message --}}
  {{else}}
  <h1 style="text-align: center;">Base de donnée vide</h1>
  {{/if}}
</main>
<!--Main layout-->

<script>
  // isAdmin
  const isAdmin{{ user.id }} = document.getElementById('isAdmin{{ user.id }}')
  const adm{{ user.id }} = { { isAdmin } }
  if (adm{ { user.id } } === 1 ) isAdmin{ { user.id } }.checked = true

  // isVerified
  const isVerified{{ user.id }} = document.getElementById('isVerified{{ user.id }}')
  const vrf{{ user.id }} = { { isVerified } }
  if (vrf{ { user.id } } === 1 ) isVerified{ { user.id } }.checked = true

  // isBann
  const isBann{{ user.id }} = document.getElementById('isBann{{ user.id }}')
  const bann{{ user.id }} = { { isBann } }
  if (bann{ { user.id } } === 1 ) isBann{ { user.id } }.checked = true


  console.log('ma variable modal: ', typeof adm{{ user.id }}, adm{{ user.id }})
</script>